<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/nanoreset.css">
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header>
        <nav class="container">
            <div id="logo">Binance Wallet 1 Ether Holdings (0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be)</div>
            <div id="menu">menu</div>
        </nav>
    </header>
    <section id="main" class="container">
        <article id="graph">
            <div id="chart-line2">
            </div>
            <div id="chart-line">
            </div>
        </article>
        <article id="list">
            <ul>
                {{range .Transfers}}
                <li class="transfer">
                    <a class="link" href="{{.URL}}">
                        <div class="link-box">
                            <span class="addr-visible" title="{{.Hash}}">{{.Hash | formatStart}}<span class="addr-dots"><strong class="addr-hidden">{{.Hash | formatMiddle}}</strong></span>{{.Hash | formatEnd}}</span>
                        </div>
                    </a>

                    <div class="value" title="{{.BlockCreationTime | formatDate}}">{{.ETHValue}} ETH</div>
                </li>
                {{else}}
                    <li>No Transfers</li>
                {{end}}
            </ul>
        </article>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var data = {{.Daily | formatJSON}};
        var optionsline2 = {
            chart: {
                id: 'chart2',
                type: 'line',
                height: 430,
                toolbar: {
                    autoSelected: 'pan',
                    show: false
                }
            },
            colors: ['#546E7A'],
            stroke: {
                width: 3
            },
            dataLabels: {
                enabled: false
            },
            fill: {
                opacity: 1,
            },
            markers: {
                size: 0
            },
            series: [{
                data: data
            }],
            xaxis: {
                type: 'datetime'
            },
            yaxis: {
                min: 0,
            }
        };

        var chartline2 = new ApexCharts(
            document.querySelector("#chart-line2"),
            optionsline2
        );

        chartline2.render();

        var options = {
            chart: {
                id: 'chart1',
                height: 130,
                type: 'area',
                brush:{
                    target: 'chart2',
                    enabled: true
                },
                selection: {
                    enabled: true
                },
            },
            colors: ['#008FFB'],
            series: [{
                data: data
            }],
            fill: {
                type: 'gradient',
                gradient: {
                    opacityFrom: 0.91,
                    opacityTo: 0.1,
                }
            },
            xaxis: {
                type: 'datetime',
                tooltip: {
                    enabled: false
                }
            },
            yaxis: {
                tickAmount: 2,
                min: 0
            }
        };

        var chart = new ApexCharts(
            document.querySelector("#chart-line"),
            options
        );

        chart.render();

        /*
          // this function will generate output in this format
          // data = [
              [timestamp, 23],
              [timestamp, 33],
              [timestamp, 12]
              ...
          ]
        */
    </script>
    <script type="text/javascript" src="assets/reload.js"></script>
</body>
</html>