<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello, World!</title>
    <link rel="stylesheet" href="assets/nanoreset.css">
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header>
        <nav class="container">
            <div id="logo">deposits</div>
            <div id="menu">menu</div>
        </nav>
    </header>
    <section id="main" class="container">
        <article id="graph">graph</article>
        <article id="list">
            <ul>
                <li class="transfer">
                    <a class="link" href="https://aleth.io/tx/0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5">
                        <div class="link-box">
                            <span class="addr-visible" title="0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5">0x52bc44<span class="addr-dots"><strong class="addr-hidden">d5378309ee2abf1539bf71de1b7d</strong></span>7be3b5</span>
                        </div>
                    </a>
                    <div>0.121ETH 242 days ago</div>
                </li>
                <li class="transfer">
                    <a class="link" href="https://aleth.io/tx/0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5">
                        <div class="link-box">
                            <span class="addr-visible" title="0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5">0x52bc44
                                <span class="addr-dots">
                                    <strong class="addr-hidden">d5378309ee2abf1539bf71de1b7d</strong>
                                </span>
                                7be3b5
                            </span>
                        </div>
                    </a>
                    <div>0.121ETH 242 days ago</div>
                </li>
            </ul>
        </article>
    </section>
    <script type="text/javascript" src="assets/reload.js"></script>
</body>
</html>