html {
    line-height: 1.5;
}
body {
    background: #f7f8fa;
    font-family: 'Barlow', sans-serif;
    line-height: 1.15;
}

header {
    z-index: 30;
    background: #ffffff;
    width: 100%;
    height: 96px;

    border-bottom-style: solid;
    border-bottom-color: rgb(208, 222, 242);
    border-bottom-width: 1px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,.04);

    display: flex;
    align-items: center;
}

a {
    background-color: transparent;
}

article {
    background: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.04);
    border: 1px solid rgb(208, 222, 242);
    border-radius: 6px 6px 0 6px;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}

#menu {
    padding-right: 10px;
}

#main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.addr-visible{
    white-space: nowrap;
}

.addr-dots::before {
    content: "...";
}

.addr-hidden {
    display: inline-block;
    width: 0px;
    height: 0px;
    opacity: 0;
    pointer-events: none;
    font-size: 0px;
}

.transfer {
    display: flex;
    -webkit-box-align: center;
    width: auto;
    -webkit-box-pack: inherit;
    justify-content: inherit;
    padding: 8px;
    flex: 0 0 auto;
    white-space: nowrap;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

.link {
    text-decoration: none;
    outline: none;
}

#all-transfers {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: rgb(53, 110, 255);
    font-weight: 600;
}

.value {
    padding: 2px 7px 0px 7px;
    width: 130px;
    text-align: right;
}

.time {
    font-size: smaller;
}

.link-box {
    display: flex;
    font-size: 15px;
    line-height: 24px;
    height: 28px;
    font-weight: 500;
    letter-spacing: normal;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: rgb(39, 54, 86);;
    color: rgb(255, 255, 255);
    padding: 1px 7px 0px 7px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(208, 222, 242);
    border-image: initial;
}

.container {
    width: 100%;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

#graph {
    flex: 1;
}

#chart-line {
    position: relative;
    margin-top: -40px;
}



button {
    outline: none !important;
}
